body {
    font-family: 'Bruno Ace', cursive;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 50px;
  }
  
  .pricing-plan {
    text-align: center;
    border: none;
    padding: 20px;
    width: calc(33.33% - 20px);;
    max-width: 400px;
    min-height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px rgb(227, 220, 220);
    flex-grow: 1;

  }
 

  
  .pricing-container .pricing-plan:nth-child(2) {
    background-color: #22bd53; 
    position: relative;
  }

  
  .plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .plan-price {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
  }

  

  
.plan-domain {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .plan-features {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .plan-features li {
    margin-bottom: 5px;
    display: flex;
    padding-left: 35%;
  }
  
  .plan-button {
    background-color: #120c02;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
  }

  .pricing-plan .plan-button:hover {
    background-color: #1f262c;
    }


  .pricing-container .pricing-plan .plan-title span {
    font-size: 0.5em;
    display: inline-block;
    transform: rotate(0deg);
    background-color: #e3dfdf;
    color: #120707; 
    padding: 4px;
    border-radius: 20px;
    position: absolute;
    top: 24px;
    right: 1px;
  }
  
  
/* For screens smaller than 600px */
@media screen and (max-width: 600px) {
    .pricing-container {
      flex-direction: column;
      height: 100%;
      padding: 20px;
    }
  
    .pricing-plan {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  
    .pricing-container .pricing-plan:nth-child(2) {
      position: static;
      background-color: #fff; 
    }
  
    .plan-features li {
      padding-left: 20%;
    }
  
    .pricing-container .pricing-plan .plan-title span {
      top: -20px;
      right: 20px;
      font-size: 0.4em;
      padding: 2px;
    }
  }
